

body {
    background-color: #000000;
    font-family: Arial, Verdana;
    color: #FFFFFF;
    margin: 20px 20px 0px !important;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px !important;
}

h2 {
    font-size: 30px;
    color: #0D0D0D;
}

p {
    font-size: 24px;
    padding: 10px 0px 10px 0px !important; 
}

img {
    width: 250px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: 10px dashed #FFFFFF;
}

div {
    height: auto;
    min-height: 125px;
    padding: 20px !important;
    border-style: 3px solid #FFFFFF !important;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px !important;
    line-height: 2.0;
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px !important;
    border-width: 0px 0px 2px 5px!important;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px !important;
    border-width: 2px 5px 0px 0px!important;
}

.blue h2, .blue p {
     color: #C4C4C4;
}
.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px !important;
    border-width: 0px 0px 5px 2px !important;
}

.yellow p {
    color: #707070
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px !important;
    border-width: 2px 5px 0px 0px !important;
}

footer {
    background: linear-gradient(90deg, #000000, #0000FF 25%, #0066FF 70%, #000000 100%);
    border-style: 5px solid #FFFFFF !important;
}

footer.p {
    text-align: right;
    font-size: 20px !important;
    padding: 15px 15px 15px 0px !important;
}